{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %} Adicionar Filme{% endblock %}

{% block content %}
<h1 style="text-align: center;">Adicionar Filme</h1>

    
    <div class="container mt-5">
        <form method="post" style="display: flex; align-items: center; justify-content: center; flex-direction: column;"action="{% url 'adicionar_filme' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-secundary btn-lg" style="background-color: #ff5252;">Cadastrar Filme</button>
    </div>
{% endblock %}