{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %} Cadastro de Usuário {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <h2 class="text-center mb-4">Cadastro de Usuário</h2>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-danger btn-lg">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
