{%extends 'base.html'%}
{% load bootstrap5 %}

{%block corbody%}

style="background-color:#ff5252"

{%endblock%}
        
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Editar Filme</h1>
    <div class="card p-4 " style="background-color: black; color: white;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button "Salvar alterações" button_type="submit" button_class="btn-primary w-100" %}
        </form>

        {% if filme.imagem %}
            <p class="mt-3">Imagem atual:</p>
            <img src="{{ filme.imagem.url }}" class="img-thumbnail" style="max-width: 200px;">
        {% endif %}
    </div>
</div>


{% endblock %}