{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine List</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark justify-content-between" >
  <a class="navbar-brand"><h1 style="color: #ff0000;">Cine List</h1></a>
</nav>
<form class="form-inline" style="align-items:center ;">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</body>
</html>